### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.value_counts()

Purchase ID  SN              Age  Gender  Item ID  Item Name                                  Price
779          Ennrian78       24   Male    50       Dawn                                       4.60     1
243          Quaranmol58     24   Male    83       Lifebender                                 3.33     1
265          Lirtirra37      25   Male    172      Blade of the Grave                         3.14     1
264          Saesrideu94     35   Male    119      Stormbringer, Dark Blade of Ending Misery  4.32     1
263          Aeral43         24   Male    78       Glimmer, Ender of the Moon                 4.40     1
                                                                                                      ..
517          Aerithnuphos61  39   Male    128      Blazeguard, Reach of Eternity              4.91     1
516          Aidain51        39   Female  35       Heartless Bone Dualblade                   3.45     1
515          Haillyrgue51    7    Male    40       Second Chance                              2.52     1
514          Yasur85         21   Male    21       Souleater                                  1.10     1
0            Lisim78         20   Male    108      Extraction, Quickblade Of Trembling Hands  3.53     1
Length: 780, dtype: int64

## Player Count

* Display the total number of players

In [2]:
player_counts = purchase_data["SN"].nunique()

#df = purchase_data.groupby('SN')['SN'].nunique()
PlayerSummary= pd.DataFrame({"Total Players": player_counts,
                                    }, index=[0])
PlayerSummary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
ItemCount = purchase_data["Item ID"].nunique()
AveragePrice = round(purchase_data["Price"].mean(),2)
NumPurchases = purchase_data["Purchase ID"].count()
TotalRevenue = round(purchase_data["Price"].sum(),2)

DataSummary= pd.DataFrame({"Number Of Unique Items": ItemCount,
                           "Average Price": "$"+str(AveragePrice),
                           "Number of Purchases": NumPurchases,
                           "Tota Revenue": "$"+str(TotalRevenue)
                                    }, index=[0])
DataSummary

   Number Of Unique Items Average Price  Number of Purchases Tota Revenue
0                     179         $3.05                  780     $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Get Dataframe with unique combinations of player's SN and Gender
Player= purchase_data[['SN','Gender']]
PlayerUnique = Player.drop_duplicates()

#Put summary data items in variables
PlayerCount = PlayerUnique["SN"].count()
GenderCounts = PlayerUnique["Gender"].value_counts()
GenderPercentage = round((GenderCounts/PlayerCount)*100,2)

#Build summary dataframe
DataGenderSummary= pd.DataFrame({"Total Count": GenderCounts,
                      "Percentage of Players": GenderPercentage})

#Format to str to display percentage for Percentage of players Column
DataGenderSummary["Percentage of Players"]=DataGenderSummary["Percentage of Players"].map("{:.2f}%".format)

DataGenderSummary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame